body{
    margin: 0px;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: rgba(248, 248, 248);
    color: #797A7A;
}
.main-graph-area{
    width: 100vw;
    height: 8vh;
    background-color: white;

    box-shadow: 1px 1px rgb(230, 230, 230);
}

.main-graph-area .bar-graph-top-area{
    position: relative;
    height: 100%;
    width: 100vw;

    border-bottom: 1px #E5E5E5 solid;
}

.asset-category{
    float: left;
    width: 20vw;
    height: 3vh;
    text-align: center;
    line-height: 3vh;

    margin-top: 5vh;
}
.asset-category#left{
    float: left;
    margin-left: 15vw;
    color: #C7C8C8;
}

.asset-category#right{
    float: left;
    margin-left: 28vw;
    font-weight: bolder;
    border-bottom: 1px #1DCB9D solid;
}
.bar-graph-area{
    float: left;
    height: 35vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 4.5vh;
    margin-bottom: 2.5vh;

    /* background-color:rgb(255, 232, 255); */
}

.bar-graph-title{
    font-weight: bolder;
    font-size: 0.8em;
    margin-left: 5px;
}

.graph-area{
    position: absolute;
    width: 95vw;
    height: 5vh;

    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 6vh;

    /* background-color: cornsilk; */
}

.draw-bar-graph{
    position: relative;
    height: 50%;
    float: left;
}
.draw-bar-graph#first-ratio{
    width: 29%;
    background-color: #2EB290;
    border-radius: 10px 0 0 10px;
}

.draw-bar-graph#second-ratio{
    width: 70%;
    background-color: #4471FB;
    border-radius: 1px;
    margin-left: 3px;
}

.draw-bar-graph#third-ratio{
    width: 8%;
    background-color: #FD6A51;
    border-radius: 1px;
    margin-left: 3px;
}

.draw-bar-graph#fourth-ratio{
    width: 69%;
    background-color: #3BD4AC;
    border-radius: 0 10px 10px 0;
    margin-left: 3px;
}

.graph-info-area{
    width: 90%;
    width: 95%;
    height: 5vh;

    margin-left: 2.5%;
    margin-right: 2.5%;
    /* margin-top: 2vh; */

    /* background-color: cornsilk; */
}

.graph-info-area .color-info{
    float: left;
    width: 13px;
    height: 13px;
    margin-top: 1.8vh;
    border-radius: 3px;
}

.graph-info-area .info-text{
    float: left;
    width: 40%;
    height: 100%;
    line-height: 5vh;
    margin-left: 10px;

    color: #797A7A;
    font-size: 0.8em;
}
.graph-info-area .percent-info{
    float: left;
    width: 15%;
    height: 100%;
    line-height: 5vh;
    color: #797A7A;
    font-size: 0.8em;
}
.graph-info-area .money-info{
    float: right;
    width: fit-content;
    height: 100%;
    line-height: 5vh;
    color: #797A7A;
    font-size: 0.8em;
}

.graph-info-area .color-info#first{
    background-color: #2EB290;
}
.graph-info-area .color-info#second{
    background-color: #4471FB;
}
.graph-info-area .color-info#third{
    background-color: #FD6A51;
}
.graph-info-area .color-info#fourth{
    background-color: #3BD4AC;
}

/* 
    중단의 추천 버튼들
*/

.recomment-btn-area{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 140px;
    margin-top: 4px;

    /* background-color:darkcyan; */
}

.recommend-btn-img{
    float: left;
    height: 10vh;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.recommend-btn-img#first{
    max-width: 100%;
    height : auto;
}

.recommend-btn-img#second{
    max-width: 100%;
    height : auto;
}

.recommend-btn-img#third{
    max-width: 100%;
    height : auto;
}

/* 
    하단 부채비율 추가
*/
.bottom-graph-area{
    width: 100vw;
    height: 22vh;
    background-color: white;
    margin-top: 2vh;

    box-shadow: 3px 3px rgb(230, 230, 230);
}

.dept-graph-area{
    width: 90%;
}

.dept-graph-title{
    position: absolute;
    width: 100%;
    height: 1em;
    float: left;
    font-weight: bolder;
    font-size: 0.8em;
    margin-left: 5vw;
    margin-top: 3vh;
}

#dept-graph-doughnut{
    float: left;
    width: 45%;
    margin-left:5%;
    margin-right:5%;
    margin-top: 2vh;
    height: 20vh;
    font-weight: bolder;
}

#donut-percent-inner-text{
    width: 42%;
    height: 20vh;
    position: absolute;
    padding-top: 8vh;
    text-align: center;
    z-index: 999999999999999;
}

#donut-percent-text{
    font-size: 1.3em;
    font-weight: bolder;
    color: #1DCB9D;
}

#donut-center-text{
    font-size: 0.9em;
    color: #1DCB9D;
}

.dept-graph-content{
    position: absolute;
    text-align: right;
    width: 40vw;
    height: 10vh;
    margin-right: 5vw;
    margin-left: 50vw;
    padding-top: 5vh;
    font-size: 0.8em;
    line-height: 1.6em;    
}

.depth-graph-content-bottom{
    width: 40vw;
    height: 10vh;
    margin-left: 50vw;
}

.depth-graph-right-color-area{
    width: 15vw; height:20vh; margin-top:20vh; margin-left: 23vw; margin-top: 2vh
}
.depth-graph-right-color-spoid{
    float:left; width: 10px; margin-right:10px; height: 10px; 
}
.depth-graph-right-color-text{
    float:left; line-height: 10px; color:#797A7A
}
.graph-inform-area{
    position: absolute;
    
    width: 40vw;
    height: 20vh;
    margin-top: 15vh;
    margin-left: 10vw;
}
.graph-inform-bottom{
    position: absolute;
    width: 70vw;
    height: 10vh;
    text-align: center;

    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 45vh;
}
#graph-inform-one-line{
    border: 2px #1DCB9D solid;
    border-radius: 10px;
    width: auto;
    color: #1DCB9D;
    font-weight: bolder;
}
/* 
하단 네비게이션 바
*/
.bottom-nav-bar{
    width: 100vw;
    height: 5vh;
    margin-top: 15px;
    box-shadow: -1px -1px rgb(230, 230, 230);
    border-radius: 6px 6px;
    padding-top: 1vh;


    background-color: white;

    display: flex;
    align-items: space-between;
    justify-content: center;
}

.bottom-nav-first{
    width: 15vw;
    height: 4vh;
}
.bottom-nav-first img{
    height: 100%;
}

.bottom-nav-second{
    width: 15vw;
    height: 4vh;
    margin-left: 16vw;
}
.bottom-nav-second img{
    height: 100%;
}

.bottom-nav-third{
    width: 15vw;
    height: 4vh;
    margin-left: 16vw;
}
.bottom-nav-third img{
    height: 100%;
}

.bottom-sort-area{
    width: 100vw;
    height: 55vh;
    background-color: white;
    margin-top: 2vh;
    margin-bottom: 5vh;

    box-shadow: 3px 3px rgb(230, 230, 230);
}

