<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>도산 유형 투자</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Do+Hyeon&family=Nanum+Gothic:wght@400;700;800&family=Roboto:wght@300;400;500&family=Russo+One&family=Sniglet&display=swap" rel="stylesheet">
    
    <!-- STYLE Sheet -->
    <link rel="stylesheet" type="text/css" href="/css/bankruptcy-prevent.css"> 

    <!-- CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <!-- FOR MOBILE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
</head>
<body>
    <div class="main-graph-area">
        <div class="bar-graph-top-area">
            <div class="cost-category">도산 유형 투자</div>
        </div>
    </div>

    <div class="top-slider-area">
            <div class="slider-recommend-title"><span id="slider-status-top-title">원하나</span> 님에게<br>
                <span id="buttn-like-recommend">소극적 투자</span><span style="color: #797A7A; font-weight: normal;"> 를 추천드립니다.</span>
            </div>
            <div class="slider-area">
                <div><img src="/image/Line 2.svg"></div>
                <div style="font-size: 0.8em; color: #A5A5A6">슬라이더를 통해 조절할 수 있습니다.</div>
                <div class="slider" id="slider-touch-area">
                    <div id="slider-marker"><img src="/image/slider-body.svg"></div>
                    <img src="/image/slider-text.svg" style="margin-top: 10px;" >
                </div>
            </div>
    </div>
    <div class="bottom-sort-area">
        <div class="dept-graph-area">
            <div class="dept-graph-title">투자 상품 추천</div>
        </div>
        <div class="stock-recommend-box-area" style="margin-top: 8vh">
            <div class="stock-recommend-box-left">
                <div style="font-weight: 700; font-size:1.2em">미래에셋스마트롱숏50증권자<br>투자신탁1호(주식혼합)Ae</div>
                <div style="font-size:0.8em">상품 유형 | <span style="font-weight: bolder;">혼합주식형</span><br>운용사 | 미래에셋자산운용</div>
            </div>
            <div class="stock-recommend-box-right">
                <div class="risk-alarm-btn">낮은 위험</div>
            </div>
        </div>

        <div class="stock-recommend-box-area" style="margin-top: 22vh">
            <div class="stock-recommend-box-left">
                <div style="font-weight: 700; font-size:1.2em">미래에셋스마트롱숏50증권자<br>투자신탁1호(주식혼합)Ae</div>
                <div style="font-size:0.8em">상품 유형 | <span style="font-weight: bolder;">혼합주식형</span><br>운용사 | 미래에셋자산운용</div>
            </div>
            <div class="stock-recommend-box-right">
                <div class="risk-alarm-btn">낮은 위험</div>
            </div>
        </div>

        <div class="stock-recommend-box-area" style="margin-top: 36vh">
            <div class="stock-recommend-box-left">
                <div style="font-weight: 700; font-size:1.2em">미래에셋스마트롱숏50증권자<br>투자신탁1호(주식혼합)Ae</div>
                <div style="font-size:0.8em">상품 유형 | <span style="font-weight: bolder;">혼합주식형</span><br>운용사 | 미래에셋자산운용</div>
            </div>
            <div class="stock-recommend-box-right">
                <div class="risk-alarm-btn">낮은 위험</div>
            </div>
        </div>

        <div class="stock-recommend-box-area" style="margin-top: 50vh">
            <div class="stock-recommend-box-left">
                <div style="font-weight: 700; font-size:1.2em">미래에셋스마트롱숏50증권자<br>투자신탁1호(주식혼합)Ae</div>
                <div style="font-size:0.8em">상품 유형 | <span style="font-weight: bolder;">혼합주식형</span><br>운용사 | 미래에셋자산운용</div>
            </div>
            <div class="stock-recommend-box-right">
                <div class="risk-alarm-btn">낮은 위험</div>
            </div>
        </div>

        <div class="stock-recommend-box-bottom" style="margin-top: 63vh;">
            <div class="stock-recommend-box-bottom-box">
                <img src="/image/hana1q.svg" width="100%">
            </div>
            <div class="stock-recommend-box-bottom-box" style="margin-left: 5vw">
                <img src="/image/hana-main.svg" width="100%">
            </div>
        </div>
    </div>


    <div class="bottom-nav-bar">
        <div class="bottom-nav-first" id="bottom-icon-first">
            <img src="/image/bottom_icon_1_gray.svg">
        </div>
        <div class="bottom-nav-second" id="bottom-icon-second">
            <img src="/image/bottom_icon_2.svg">
        </div>
        <div class="bottom-nav-third" id="bottom-icon-third">
            <img src="/image/bottom_icon_3_light.svg">
        </div>
    </div>
</body>

<script type="text/javascript" src="/js/bankruptcy-prevent.js"></script>
</html>